body {
  display: flex;
  height: 1000vh;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}

div {
  background-color: aqua;
  width: 25%;
  height: 50%;
}
@media screen and (max-width: 600px) {
  div {
    width: 50%;
    background-color: brown;
  }
}
@media screen and (max-width: 1200px) and (min-width: 601px) and (orientation: landscape) {
  div {
    width: 50%;
    background-color: rgb(121, 114, 114);
  }
}
@media screen and (max-width: 600px) and (min-width: 1200px) {
  div {
    width: 50%;
    background-color: rgb(42, 165, 63);
  }
}
@media screen and (orientation: landscape) {
  span {
    display: none;
  }
}
@media print {
  body {
    background-color: aqua;
  }
}