.more__column {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--bellow);
}
.more-icons__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 23px;
}

.more-screen__channel {
  margin-top: 35px;
}

.more-screen__channel-header {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 37px;
}

.more-screen__column {
  display: flex;
  /* justify-content: space-between; */
  gap: 30px;
}
.more-screen__img {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.more-screen__img span {
  background-color: #fae100;
  border-radius: 12px;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  display: flex;
  color: white;
}

.account {
  height: 100vh;
 display: flex;
 flex-direction: column;
  padding-top: 40px;
}

.account__title {
  margin-bottom: 30px;
}

.account__icons {
  display: flex;
  flex-direction: column;
}

.account__icon {
  margin-right: 30px;
  display: flex;
}

.account__icon-image {
  width: 60px;
  height: 60px;
  background-color: var(--maincolor);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px;
}

.account__icon-image img {
  width: 65px;
  height: 63px;
  border-radius: 20px;
}
.account__icon-text{
  align-items: center;
  display: flex;
  margin-top: 13px;
}