#no-mobile {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 99;
  height: 100vh;
  background-color: white;
  width: 100vw;
  display: flex;
  align-items: center;
  top: 0;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}
#no-mobile img {
  margin-top: 23px;
}

@media screen and (max-width: 500px) {
  #no-mobile {
    display: none;
  }
}
